################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Someren1819 (3)/.vs/Someren1819/v15/Server/sqlite3/db.lock
